.comment-container {
  margin: 4px 0px;

  .ant-comment-content-author-time {
    color: rgba(0,0,0,0.5);
  }

  .comment-nametag{
    font-size: 1.6rem;
    color: #4492ff;
  }

  .ant-comment-inner{
    background-color: #F7FAFC;
    border-radius: 20px;
    padding: 8px;

    .ant-comment-actions {
      margin-top: 0px;
      margin-bottom: 4px;
    }
  }
}

.comment-like-button {
  margin-right: 4px;
}
