.document-container {
  background: #fff; 
  padding: 8px; 
  margin-bottom: 2px;

  .document-card-container {
    margin-top: 4px;

    .document-profile-img {
      width: 48px;
      height: 48px;
      object-fit: cover;
    }
  }

  .document-content-container {
    margin: 4px 0px;
  }

  .document-actions-container {
    margin-top: 4px;

    a {
      margin-right: 12px;
    }

    Button {
      margin-right: 4px;
    }
  }
}