#namecard-image-container {
  position: relative;
  
  #img-namecard {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
  }  
}
#namecard-image-container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.namecard-content-container {
  height: 98px;
  padding: 16px;
  line-height: 1.6rem;
  font-size: 2.4rem;
  text-align: left;

  .namecard-nametag-col {
    font-weight: bold;
  }

  .namecard-major-col {
    margin-top: 1.6rem;
    font-size: 1.8rem;
  }
}