#active-members-button {
  padding: 0 0.4rem;
  margin-left: 0.5rem;
}

#side-menu-button {
  padding: 0 0.4rem;
  margin-left: 2rem;
}

#navigation-button {
  .ant-drawer-body {
    padding: 0;
  }
}
