.notification-container:hover {
  background: #42A5F5 !important;
}

.notification-container {
  height: 56px;
  width: 100%;
  display: flex;
  align-items: stretch;

  .ant-card-meta-title {
    margin-bottom: 0px !important;
  }

  .ant-card-meta-description {
    font-size: 9pt;
    width: 100%;
    overflow: hidden;
  }

  .notification-author-time {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
  }

  .notification-profile {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;

    img {
      width: 100%;
    }
  }
}