#single-image-uploader-card {
  width: 100%;
  border: none;

  .ant-card-head {
    border-bottom: transparent;

    .ant-card-head-title {
      color: black !important;
      width: 100% !important;
      height: auto !important;
      padding: 0 !important;
      padding-left: 0 !important;
      font-size: 1.6rem !important;
      font-weight: normal !important;
      text-align: center !important;
    }
  }
  
  .registration-profile-upload {
    .ant-upload-list-picture-card-container {
      width: auto;
      height: 100% !important;
      margin: 0;
      
    }
  }
}

.ant-upload-list-picture-card .ant-upload-list-item {
  width: 25rem !important;
  height: 25rem !important;
  margin: 0;
}