.write {
  width: 100%;
  max-width: 100vw;
  padding: 0 0.5em;
  font-size: 1.6rem;
}

.write-button-container {
  display: flex;
  float: right;

  Button {
    margin-right: 4px !important;
  }
}

.write-container {
  margin-bottom: 4px;

  .ant-card-body {
    display: flex;
  }

  .write-profile-img-container {
    margin-right: 12px;

    .write-profile-img {
      width: 48px;
      height: 48px;
      object-fit: cover;
    }
  }

  .write-content-container {
    width: 100%;
    flex-grow: 1;

    .write-actions-container {
      display: flex; 
      margin: 4px 0px;

      .ant-checkbox-wrapper {
        margin-top: 4px;
      }
    }
  }
}