.edit-profile-row {
  margin-bottom: 12px;
}

.edit-row-group {
  font-size: 1.6rem;

  .edit-col-group {
    margin-bottom: 8px;

    .edit-input {
      .ant-input-group-addon {
        font-size: 1.6rem;
        width: 8em;
        text-align: left;
      }
      .ant-input {
        font-size: 1.6rem;
      }
    }
  }
}
  
.edit-cascader-picker, .ant-cascader-picker {
  font-size: 1.6rem;
  width: 100%;

  .ant-input {
    font-size: 1.6rem;
  }
}

.edit-calendar-picker, .ant-calendar-picker {
  font-size: 1.6rem;
  width: 100%;

  .ant-input {
    font-size: 1.6rem;
  }
}