.form-profile-upload{
    margin-top: 20px;
    .ant-form-item{
        margin-bottom: 0px;
    }
    .registration-profile-upload{
        .ant-upload-list-picture-card-container{
            height: 100% !important;
        }
    }
}