@import "container/Userpage";
@import "container/Registration";
@import "container/EditUserProfile";
@import "components/ReactMarkdown";
@import "components/Comment";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
