@import "components/Activity";
@import "components/Comment";
@import "components/Document";
@import "components/Enrollment";
@import "components/Feed";
@import "components/Namecard";
@import "components/NameTag";
@import "components/NavigationButton";
@import "components/Notification";
@import "components/PostComment";
@import "components/ProfileImages";
@import "components/ReactMarkdown";
@import "components/SingleImageUploader";
@import "components/TermAgreement";
@import "components/Timeline";
@import "components/Write";

@import "containers/EditUserProfile";
@import "containers/Law";
@import "containers/Login";
@import "containers/Members";
@import "containers/Notifications";
@import "containers/PageCard";
@import "containers/Registration";
@import "containers/Userpage";

#Navigation-wrapper {
  background: #fff;
  box-shadow: 0 1px 2px 0px #929292;
  width: 100%;
  height: 100%;
  margin-bottom: 1px;

  #Navigation {
    max-width: 1280px;
    margin: 0% auto;
    padding: 0 1rem;
  }
  
  #Logo {
    height: 46px;
    min-height: 2rem;
  }
}

#sider {
  width: 0;
}

@media (min-width: 768px) {
  #sider {
    width: 240px;
    background: white;
  }
}

.line {
  margin: 0;
}
.footer-line {
  margin-bottom: 8px;
}