@import '~antd/dist/antd.css';
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*
div, nav, article {
  outline: solid red 1px;
  background-color: rgba(0, 0, 0, 0.1);
}
*/
body {
    font-family: "Nanum Gothic", sans-serif !important;
}
.Pad {
  padding:35px;
  background-image:linear-gradient(to bottom, rgba(240, 255, 40, 1) 0%, rgba(240, 255, 40, 1) 100%), linear-gradient(to bottom, rgba(240, 40, 40, 1) 0%, rgba(240, 40, 40, 1) 100%);
  background-clip: content-box, padding-box;
}
.Container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: #dfdfdf;
}
.App {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.noti:hover {
  background: #42A5F5 !important;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Nav-wrapper {
  background: #fff;
  box-shadow: 0 1px 2px 0px #929292;
  width: 100%;
}
.Nav {
  max-width: 1280px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ant-upload-list-picture-card .ant-upload-list-item {
  float: left;
  width: 288px !important;
  height: 288px !important;
  margin: 0 8px 8px 0;
}